<table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th scope="col">nombre</th>
        <th scope="col">descripcion</th>
        <th scope="col">codigo</th>
        <th scope="col">foto</th>
        <th scope="col">precio</th>
        <th scope="col">stock</th>
      </tr>
    </thead>

    <tbody>
        @each(producto in productos)
            <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.nombre}} </td>
                <td>{{producto.descripcion}} </td>
                <td>{{producto.codigo}} </td>
                <td> <img src={{producto.foto}} alt=""></td>
                <td>{{producto.precio}} </td>
                <td>{{producto.stock}} </td>                 
            </tr>
        @endeach  
    </tbody>
  </table>

  <style>
    .table{
      border: black solid
    }
    
  </style>